#pragma once

#define WIFI_SSID "your-ssid"
#define WIFI_PASSWORD "your-password"
#define WEBHOOK_URL_PIR1 "https://discord.com/api/webhooks/xxx/xxx"
#define WEBHOOK_URL_PIR2 "https://discord.com/api/webhooks/xxx/xxx"
